/*---------IMPORT---------*/

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");


/*---------RESET---------*/

*:before,
*:after {
  box-sizing: border-box; }

html {
  box-sizing: border-box; }

body {
  font-family: "Roboto", "Helvetica", "Arial", san-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

a {
  color: #ffffff;
  text-decoration: none; }
a:hover {
  color: #ffffff;
  text-decoration: none; }

p {
  margin-bottom: 0.5rem; }

/*---------VENDOR---------*/

.container {
  max-width: 1250px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  padding-right: 0;
  padding-left: 0;
}

.form-control {
  /*border: none;*/
  display: inline-block;
}

.form-control:focus {
  outline: none;
  /*border-color: black;*/
  box-shadow: none;
}


/* --------------- Responsive -------------------*/

/* Small smartphones in portrait mode - XS */
@media screen and (max-width: 480px) {
  body {
    background-color: #ffffff;
  }

  /*---------VENDOR---------*/
  .container {
    max-width: 540px;
  }
}

/* Larger smartphones, smartphones in landscape mode - SM */
@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    background-color: #ffffff;
  }

  /*---------VENDOR---------*/
  .container {
    max-width: 720px;
  }
}

/* Tablets in portrait mode, large display smartphones landscape mode - MD */
@media screen and (min-width: 769px) and (max-width: 1023px) {

  /*---------VENDOR---------*/
  .container {
    max-width: 960px;
  }
}

/* Tablets in landscape mode, older desktop monitors - LG */
@media screen and (min-width: 1024px) and (max-width: 1365px) {

  /*---------VENDOR---------*/
  .container {
    max-width: 1140px;
  }
}

/* Monitors with screen width 1366px or above - XL */
/* ... */

