.header-mob {
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #1ba8ff;
}

/* ----- Header Feature ----- */
.header__feature-mob {
  background-color: #1ba8ff;
}

.feature-mob {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
}

/* Navigations */
.feature-mob__img {
  min-width: 20px;
  max-width: 20px;
}

.feature-mob__nav > a > i {
  font-size: 20px;
  font-weight: bolder;
}

.feature-mob__nav:first-child {
  padding-top: 0;
}

.feature-mob__nav {
  padding-top: 5px;
}

/* Search Form */
.search-form-mob__content input {
  width: 100%;
  font-size: 14px;
  padding: 6px 35px;
}

/* Cart */
.notification__badge {
  width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 10em;
  text-align: center;
  font-weight: 500;
  background-color: #ff5353;
  font-size: 11px;
  color: #ffffff;
}

.notification__badge-mob {
  background-color: #fd820a;
  position: absolute;
  top: 1vh;
  left: 91vw;
}

.feature-mob__cart img {
  min-width: 25px;
  max-width: 25px;
}

/* ------ Sidebar Mobile ----- */
.sidebar-mob {
  display: none;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* transition */
}

.sidebar__content-mob {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

/* Header */
.sidebar__header-mob {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  background-color: #1ba8ff;
}

.sidebar-header {
  font-size: 13px;
  color: #ffffff;
}

.sidebar-header__avatar img {
  max-width: 1em;
}

.sidebar-header__name {
  margin-bottom: 0.5em;
}

.sidebar-header__email {
  font-size: 12px;
}

.sidebar-header__close i {
  font-size: 25px;
  font-weight: 100;
}

/* Menu */
.sidebar__menu-mob {
  padding-top: 1em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgba(110, 113, 117, 0.18);
}

.sidebar-menu__item {
  padding: 0.75em;
  font-size: 14px;
}

.sidebar-menu__item a {
  display: flex;
  align-items: center;
  color: #333333;
}

.sidebar-menu__logo {
  padding-left: 0.5em;
  padding-right: 1.5em;
  font-size: 20px;
  color: #757575;
}

/* Category - Hot Deal */
.sidebar__category-mob {
  padding: 1em;
  font-size: 14px;
  border-bottom: 1px solid rgba(110, 113, 117, 0.18);
}

.sidebar__category-mob:last-child {
  border-bottom: none;
}

.sidebar-category__heading {
  margin-bottom: 0.5em;
  color: #787878;
}

.sidebar-category__item {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.sidebar-category__item a {
  color: #333333;
}

.sidebar-category__item span {
  color: #26bc4e;
}

.sidebar-category__item:last-child a {
  display: flex;
  justify-content: space-between;
}

.sidebar-category__item:last-child i {
  padding-right: 0.5em;
  font-size: 13px;
}

/* --------- Animation ------------ */
@keyframes swingParent {
  from {
    transform: translateX(0);
    left: 0;
  }
  to {
    left: 100%;
    transform: translateX(-100%);
  }
}

/*# sourceMappingURL=header-mob.component.css.map */
