<!-- Header - Mobile -->
<header class="header-mob">
  <!-- Header Feature -->
  <div class="header__feature-mob">
    <div class="container feature-mob">
      <!-- Navigations -->
      <div class="feature-mob__nav">
        <a href="#">
          <!--                        <i class="fa fa-chevron-left"></i>-->
          <img src="../../../../assets/images/backWhite.png" class="feature-mob__img" alt="back icon">
        </a>
      </div>

      <div class="feature-mob__nav">
        <a id="hamburgerMob" href="javascript:void(0);" onclick="collapseSidebar()">
          <i class="tikicon icon-burger-menu"></i>
        </a>
      </div>

      <!-- Search Form -->
      <div class="feature-mob__form search-form-mob">
        <form action class="search-form-mob__content md-form form-sm form-2">
          <div class="input-group md-form form-sm form-2">
            <input class="form-control amber-border search-form-mob__input" type="text" placeholder="Bạn đang tìm kiếm gì" aria-label="Search">
            <!--                            <i class='fa fa-search'></i>-->
          </div>
        </form>
      </div>

      <!-- Cart -->
      <div class="feature-mob__cart">
        <a href="#">
          <img src="../../../../assets/images/cart.png" alt="cart">
          <div class="notification__badge notification__badge-mob">1</div>
        </a>
      </div>
    </div>
  </div>
</header>

<!-- Sidebar - Mobile -->
<div id="sidebarMob" class="sidebar-mob animate__animated animate__slideInLeft">
  <div class="sidebar__content-mob">
    <!-- Header -->
    <div class="sidebar__header-mob sidebar-header">
      <div class="sidebar-header__avatar">
        <img src="" alt="avatar">
      </div>
      <div class="sidebar-header__account">
        <div class="sidebar-header__name">Jenny Yang</div>
        <div class="sidebar-header__email">1877609851063346827-<br>zalo@tiki.com.vn</div>
      </div>
      <div class="sidebar-header__close">
        <a id="closeMob" href="javascript:void(0);" onclick="collapseSidebar()">
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>
    <!-- Menu -->
    <div class="sidebar__menu-mob sidebar-menu">
      <nav>
        <ul class="sidebar-menu__list">
          <li class="sidebar-menu__item">
            <a href="#">
              <div class="sidebar-menu__logo">
                <i class="fa fa-home"></i>
              </div>
              <div class="sidebar-menu__title">
                Trang chủ
              </div>
            </a>
          </li>
          <li class="sidebar-menu__item">
            <a href="#">
              <div class="sidebar-menu__logo">
                <i class="fa fa-list-ul"></i>
              </div>
              <div class="sidebar-menu__title">
                Danh sách ngành hàng
              </div>
            </a>
          </li>
          <li class="sidebar-menu__item">
            <a href="#">
              <div class="sidebar-menu__logo">
                <i class="fa fa-user-circle"></i>
              </div>
              <div class="sidebar-menu__title">
                Quản lý tài khoản
              </div>
            </a>
          </li>
          <li class="sidebar-menu__item">
            <a href="#">
              <div class="sidebar-menu__logo">
                <i class="fa fa-bell"></i>
              </div>
              <div class="sidebar-menu__title">
                Thông báo
              </div>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- Category - Hot Deal -->
    <div class="sidebar__category-mob sidebar-category">
      <div class="sidebar-category__heading">
        KHUYẾN MÃI HOT
      </div>
      <ul class="sidebar-category__list">
        <li class="sidebar-category__item">
          <a href="#">Tiki Deal</a>
        </li>
        <li class="sidebar-category__item">
          <a href="#">Phiếu quà tặng</a>
        </li>
        <li class="sidebar-category__item">
          <a href="#">Ưu đãi cho chủ thẻ ngân hàng</a>
        </li>
      </ul>
    </div>
    <!-- Category - Customer Support -->
    <div class="sidebar__category-mob sidebar-category">
      <div class="sidebar-category__heading">
        HỖ TRỢ
      </div>
      <ul class="sidebar-category__list">
        <li class="sidebar-category__item">
          HOTLINE:
          <a href="tel:19006035"><span>1900 - 6035</span> (1000đ/phút)</a>
        </li>
        <li class="sidebar-category__item">
          <a href="#">
            <div>Hỗ trợ khách hàng</div>
            <div><i class="fa fa-chevron-right"></i></div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
