/*----------- Product Category -----------*/
.product__category {
  letter-spacing: .5px;
  font-weight: 300;
  padding: 20px 20px;
  border-bottom: 1px solid #f7f7f7; }

.product__category:last-child {
  border-bottom: none;}

.product__category a {
  color: #595959;
}

.category__title {
  font-size: 14px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem; }

.category__item {
  margin-bottom: .3rem;
  font-size: 13px;
  color: #242424; }

.category__item--parent {
  margin-bottom: .5rem;
  font-weight: bold; }

.category__item--parent:hover {
  background-color: #eaeaea; }

//.category__item--child {
//  padding-left: 16px; }
//
//.category__item--child:hover {
//  background-color: #eaeaea; }

.category__item--hide {
  text-align: center; }

.category__item--hide:hover {
  background-color: #ffffff; }

.category__quantity {
  font-size: 13px;
  color: #787878;
  font-weight: 400; }

.category__item .rate__score i {
  font-size: 16px;
  color: #ffc120; }

.category__item .rate__description {
  font-size: 13px;
  color: #787878;
  font-weight: 400; }

.category__price p {
  font-size: 13px;
  color: #858585; }

.price .price__form input {
  width: 95px;
  height: 30px;
  padding: 0 8px;
  border-radius: 4px;
  border: 1px solid #b8b8b8; }

.price .price__form input:focus {
  border: 1px solid #b8b8b8; }

.price .price__button {
  width: 99px;
  padding: 5px 15px;
  font-size: 12px;
  color: #189eff;
  background-color: #ffffff;
  border: 1px solid #189eff;
  border-radius: 4px;
  margin-top: 8px; }

.price .price__button:hover {
  color: #ffffff;
  background-color: #189eff; }

.product__banner-ads img {
  width: 100%; }


/* Small smartphones in portrait mode - XS */
@media screen and (max-width: 480px) {
  .product__category:first-child {
    display: none;
  }

  /* Adjust style of*/
}

/* Larger smartphones, smartphones in landscape mode - SM */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .product__category:first-child {
    display: none;
  }
}

/* Tablets in portrait mode, large display smartphones landscape mode- MD */
@media screen and (min-width: 769px) and (max-width: 1023px) {

}

/* Tablets in landscape mode, older desktop monitors - LG */
@media screen and (min-width: 1024px) and (max-width: 1365px) {

}

/* Monitors with screen width 1366px or above - XL */
/* ... */
