<!-- Product Category -->
<section class="product__category category">
  <div class="category__heading">
    <h4 class="category__title">
      <a href="#">DANH MỤC SẢN PHẨM</a>
    </h4>
  </div>
  <ul class="category__list">
    <li class="category__item category__item--parent">
      <a href="#">Thực Phẩm Tươi Sống
        <span class="category__quantity">(27)</span>
      </a>
    </li>
    <div *ngIf="isDesktop">
      <app-category-menu></app-category-menu>
    </div>
  </ul>
</section>
<section class="product__category category">
  <div class="category__heading">
    <h4 class="category__title">
      <a href="#">ĐÁNH GIÁ</a>
    </h4>
  </div>
  <ul class="category__list">
    <li class="category__item rate">
                                <span class="rate__score">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
      <span class="rate__description">
                                    (từ 5 sao)
                                </span>
    </li>
    <li class="category__item rate">
                                <span class="rate__score">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </span>
      <span class="rate__description">
                                    (từ 4 sao)
                                </span>
    </li>
    <li class="category__item rate">
                                <span class="rate__score">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </span>
      <span class="rate__description">
                                    (từ 3 sao)
                                </span>
    </li>
  </ul>
</section>
<section class="product__category category">
  <div class="category__heading">
    <h4 class="category__title">
      <a href="#">MIỄN PHÍ GIAO HÀNG</a>
    </h4>
  </div>
  <ul class="category__list">
    <li class="category__item">
      <a href="#">Có
        <span class="category__quantity">(244)</span>
      </a>
    </li>
    <li class="category__item">
      <a href="#">Không
        <span class="category__quantity">(449)</span>
      </a>
    </li>
  </ul>
</section>
<section class="product__category category">
  <div class="category__heading">
    <h4 class="category__title">
      <a href="#">GIÁ</a>
    </h4>
  </div>
  <div class="category__price price">
    <p>Chọn khoảng giá</p>
    <div class="price__form">
      <input type="" class="price__form--start">
      <span>-</span>
      <input type="" class="price__form--end">
    </div>
    <button id="btnPriceSubmit" type="button" class="price__button">OK</button>
  </div>
</section>
<section class="product__category category">
  <div class="category__heading">
    <h4 class="category__title">
      <a href="#">THƯƠNG HIỆU</a>
    </h4>
  </div>
  <ul class="category__list">
    <li class="category__item">
      <a href="#">Foodmap
        <span class="category__quantity">(65)</span>
      </a>
    </li>
    <li class="category__item">
      <a href="#">The Coffee House
        <span class="category__quantity">(50)</span>
      </a>
    </li>
    <li class="category__item">
      <a href="#">Organicfood
        <span class="category__quantity">(49)</span>
      </a>
    </li>
    <li class="category__item">
      <a href="#">Đảo Hải Sản
        <span class="category__quantity">(49)</span>
      </a>
    </li>
    <li class="category__item">
      <a href="#">Food King
        <span class="category__quantity">(42)</span>
      </a>
    </li>
    <li class="category__item">
      <a href="#">Meat World
        <span class="category__quantity">(26)</span>
      </a>
    </li>
    <li class="category__item">
      <a href="#">Trái Cây DTpro
        <span class="category__quantity">(26)</span>
      </a>
    </li>
    <li class="category__item">
      <a href="#">MVP
        <span class="category__quantity">(22)</span>
      </a>
    </li>
    <li class="category__item">
      <a href="#">Hải Sản Hoàng Gia
        <span class="category__quantity">(20)</span>
      </a>
    </li>
    <li class="category__item">
      <a href="#">Farmer's Market
        <span class="category__quantity">(19)</span>
      </a>
    </li>
    <!--                        <li class="category__item category__item&#45;&#45;show">-->
    <!--                            <a data-toggle="collapse" href="#collapseSupplier" aria-expanded="false" aria-controls="collapseBrand">-->
    <!--                                Xem Thêm-->
    <!--                                <i class="fa fa-angle-down"></i>-->
    <!--                            </a>-->
    <!--                        </li>-->
    <ul id="collapseSupplier" class="collapse category__list--collapse">
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
    </ul>
    <!--                        <li class="category__item category__item&#45;&#45;hide">-->
    <!--                            <a data-toggle="collapse" href="#collapseSupplier" aria-expanded="false" aria-controls="collapseBrand">Thu Gọn-->
    <!--                                <i class="fa fa-angle-up"></i>-->
    <!--                            </a>-->
    <!--                        </li>-->
  </ul>
</section>
<section class="product__category category">
  <div class="category__heading">
    <h4 class="category__title">
      <a href="#">NHÀ CUNG CẤP</a>
    </h4>
  </div>
  <ul class="category__list">
    <li class="category__item">
      <a href="#">Foodmap
        <span class="category__quantity">(65)</span>
      </a>
    </li>
    <li class="category__item">
      <a href="#">The Coffee House
        <span class="category__quantity">(50)</span>
      </a>
    </li>
    <li class="category__item">
      <a href="#">Organicfood
        <span class="category__quantity">(49)</span>
      </a>
    </li>
    <li class="category__item">
      <a href="#">Đảo Hải Sản
        <span class="category__quantity">(49)</span>
      </a>
    </li>
    <li class="category__item">
      <a href="#">Food King
        <span class="category__quantity">(42)</span>
      </a>
    </li>
    <li class="category__item">
      <a href="#">Meat World
        <span class="category__quantity">(26)</span>
      </a>
    </li>
    <li class="category__item">
      <a href="#">Trái Cây DTpro
        <span class="category__quantity">(26)</span>
      </a>
    </li>
    <li class="category__item">
      <a href="#">MVP
        <span class="category__quantity">(22)</span>
      </a>
    </li>
    <li class="category__item">
      <a href="#">Hải Sản Hoàng Gia
        <span class="category__quantity">(20)</span>
      </a>
    </li>
    <li class="category__item">
      <a href="#">Farmer's Market
        <span class="category__quantity">(19)</span>
      </a>
    </li>
    <!--                        <li class="category__item category__item&#45;&#45;show">-->
    <!--                            <a data-toggle="collapse" href="#collapseBrand" aria-expanded="false" aria-controls="collapseBrand">-->
    <!--                                Xem Thêm-->
    <!--                                <i class="fa fa-angle-down"></i>-->
    <!--                            </a>-->
    <!--                        </li>-->
    <ul id="collapseBrand" class="collapse category__list--collapse">
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#">Hải Sản Hoàng Gia
          <span class="category__quantity">(20)</span>
        </a>
      </li>
    </ul>
    <!--                        <li class="category__item category__item&#45;&#45;hide">-->
    <!--                            <a data-toggle="collapse" href="#collapseBrand" aria-expanded="false" aria-controls="collapseBrand">Thu Gọn-->
    <!--                                <i class="fa fa-angle-up"></i>-->
    <!--                            </a>-->
    <!--                        </li>-->
  </ul>
</section>
<!-- Banner Ads -->
<section class="product__banner-ads">
  <a href="#">
    <img src="../../../../assets/images/product-banner.jpg" alt="tiki platinum">
  </a>
</section>
