.product__filter-mob {
  /* stick on scrolling up */

  padding-top: 5px;
}

.filter-mob {}

.filter-mob__row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding-bottom: 5px;
  border-bottom: 2px solid #f7f7f7;
}

.filter-mob__location {
  align-items: center;
}

.filter-mob__location a {
  font-size: 14px;
  color: rgb(36, 36, 36);
  text-decoration: underline;
}

.filter-mob__location img {
  max-width: 25px;
}

.filter-mob__tiki-now {
  padding-left: 5px;
  border-left: 2px solid #f7f7f7;
}

.filter-mob__sort > span:first-child {
  font-size: 14px;
}

.filter-mob__sort > span:last-child {
  font-size: 14px;
  font-weight: 600;
}

.filter-mob__condition {
  padding-left: 5px;
  border-left: 2px solid #f7f7f7;
}
