<div class="product__filter-mob">
  <div class="filter-mob">
    <div class="filter-mob__row">
      <div class="filter-mob__location">
        <a href="#" class="filter-mob__address">
          <img src="../../../../assets/images/address.png" alt="address">
          Phường 04,Quận 3,Hồ Chí Minh
        </a>
      </div>
      <div class="filter-mob__tiki-now">
        <i class="tikicon icon-tiki-now"></i>&nbsp;
        <input type="checkbox">
      </div>
    </div>
    <div class="filter-mob__row">
      <div class="filter-mob__sort">
        <span>Sắp xếp: </span>
        <span>Chọn lọc <i class="fa fa-chevron-down"></i></span>
        <!-- filter list -->

      </div>
      <div class="filter-mob__condition">
        <i class="fa fa-filter"></i>&nbsp;
        Lọc
        <!-- sidebar sections -->

      </div>
    </div>
  </div>
</div>
