<header class="header">
  <!-- Banner -->
  <div class="header__banner">
    <a title="good deal" href="#">
      <div class="banner__content"></div>
    </a>
  </div>

  <!-- Header Menu -->
  <div class="header__menu">
    <div class="container nav-header">
      <nav class="nav justify-content-end">
        <a href="#" class="nav-item nav-link">
          <img src="../../../../assets/images/ticket.png" alt="ticket">
          Ticketbox
        </a>

        <!-- Tro ly Tooltip -->
        <div class="nav-header__tooltip nav-tooltip">
          <a href="#" class="nav-item nav-link nav-tooltip__wrap">
            <img src="../../../../assets/images/tro_li.png" alt="tro_li">
            Trợ lý Tiki
          </a>
          <div class="nav-tooltip__content--assistant">
            <p>
              <a href="#">Tiki Assistant</a>
              là tiện ích chạy trực tiếp trên trình duyệt Chrome - giúp gợi ý & tìm kiếm nhanh các sản phẩm tốt nhất trên Tiki, phù hợp với nhu cầu tìm kiếm sản phẩm của bạn.
            </p>
            <p>
              Cách sử dụng: Bạn không cần phải làm gì khác sau khi cài đặt tiện ích này. Khi bạn tìm kiếm sản phẩm, tiện ích Tiki Assistant sẽ tự động gợi ý các sản phẩm phù hợp (nếu có).
            </p>
          </div>
        </div>

        <a href="#" class="nav-item nav-link">
          <i class="fa fa-bullhorn nav-icon"></i>
          Ưu đãi đối tác
        </a>
        <a href="#" class="nav-item nav-link">
          <i class="fa fa-building nav-icon"></i>
          Đặt khách sạn
        </a>
        <a href="#" class="nav-item nav-link">
          <i class="fa fa-plane nav-icon"></i>
          Đặt vé máy bay
        </a>
        <a href="#" class="nav-item nav-link">
          <i class="fa fa-fire nav-icon"></i>
          Khuyến mãi HOT
        </a>
        <a href="#" class="nav-item nav-link">
          <i class="fa fa-globe nav-icon"></i>
          Hàng quốc tế
        </a>

        <!-- Ban hang Tooltip -->
        <div class="nav-header__tooltip nav-tooltip">
          <a href="#" class="nav-item nav-link nav-tooltip__wrap">
            <i class="fa fa-money nav-icon"></i>
            Bán hàng cùng Tiki
            <i class="fa fa-chevron-down"></i>
          </a>
          <div class="nav-tooltip__content--sale">
            <h3>Bán hàng hiệu quả cùng Tiki</h3>
            <div class="row">
              <div class="col-8">
                <p>Hơn <b>30 triệu lượt truy cập</b> hàng tháng với hơn <b>40% là khách hàng trung thành</b></p>
                <p>Trung bình <b>giao hàng dưới 2 ngày</b>, nhận tiền nhanh hơn, không làm đọng vốn</p>
                <p>Tỉ lệ <b>huỷ đơn hàng dưới 3%</b>, thấp nhất trên thị trường</p>
                <p>Kiểm soát chất lượng hàng hoá. Đảm bảo <b>cạnh tranh lành mạnh, không hàng giả, hàng nhái</b></p>
                <button class="btn">ĐĂNG KÝ NGAY</button>
              </div>
              <div class="col-4 img-sale">
                <img src="../../../../assets/images/sale-prod.png" alt="ban hang hieu qua">
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <!-- Header Feature -->
  <div class="header__feature">
    <div class="container feature">
      <!-- Logo -->
      <div class="feature__logo">
        <a title="tiki" routerLink="/">
          <i class="tikicon icon-tiki"></i>
        </a>
        <a title="tiki now" href="#">
          <img src="../../../../assets/images/main-logo.png" alt="tiki now">
        </a>
      </div>

      <!-- Search Form -->
      <div class="feature__form search-form">
        <form action class="search-form__content">
          <div class="input-group md-form form-sm form-2">
            <input class="form-control amber-border search-form__input" type="text" placeholder="Tìm sản phẩm, danh mục hay thương hiệu mong muốn ..." aria-label="Search">
            <div class="search-form__checkbox">
              <input type="checkbox" class="ml-1 mr-1">
              <!--                            <span class="icon-checkbox"></span>-->
              <a title="current option" href="#"><b>Trong</b>: Thực Phẩm Tươi Sống</a>
            </div>
            <div class="input-group-append">
              <button type="button" class="btn input-group-text amber lighten-3 search-form__button">
                <i class="fa fa-search text-grey" aria-hidden="true"></i>
                Tìm kiếm
              </button>
            </div>
          </div>
        </form>
      </div>

      <!-- Feature Menu -->
      <div class="feature__menu user-menu">
        <div class="user-menu__item">
          <a href="#">
            <div class="user-menu__icon"><i class="tikicon icon-tracking"></i></div>
            <div class="user-menu__title">Theo dõi<br>đơn hàng</div>
          </a>
        </div>
        <div class="user-menu__item">
          <a href="#">
            <div class="user-menu__icon notification">
              <i class="tikicon icon-noti"></i>
              <div class="notification__badge notification__badge--main">1</div>
            </div>
            <div class="user-menu__title">Thông báo<br>của tôi</div>
          </a>
        </div>
        <!-- User Tooltip -->
        <div class="user-menu__item user-tooltip">
          <a href="#" class="user-tooltip__wrap">
            <div class="user-menu__icon"><i class="tikicon icon-user"></i></div>
            <div class="user-menu__title">Chào Anonymous<br><small>Tài khoản</small></div>
          </a>
          <div class="user-tooltip__content">
            <ul class="user-tooltip__list">
              <li class="user-tooltip__item">
                <a href="#">Đơn hàng của tôi</a>
              </li>
              <li class="user-tooltip__item">
                <a href="#">
                  Thông báo của tôi
                  <span class="badge notification__badge notification__badge--sub">1</span>
                </a>
              </li>
              <li class="user-tooltip__item">
                <a href="#">Tài khoản của tôi</a>
              </li>
              <li class="user-tooltip__item">
                <a href="#">Nhận xét sản phẩm đã mua</a>
              </li>
              <li class="user-tooltip__item">
                <a href="#">Sản phẩm đã xem</a>
              </li>
              <li class="user-tooltip__item">
                <a href="#">Sản phẩm yêu thích</a>
              </li>
              <li class="user-tooltip__item">
                <a href="#">Sản phẩm mua sau</a>
              </li>
              <li class="user-tooltip__item">
                <a href="#">Nhận xét của tôi</a>
              </li>
              <li class="user-tooltip__item">
                <a href="#">
                  <div class="user-tooltip__icon"><img src="../../../../assets/images/tiki-now.png" alt="tiki-now"></div>
                  <div class="user-tooltip__title">TikiNOW<br>Đăng ký sử dụng ngay</div>
                </a>
              </li>
              <li class="user-tooltip__item">
                <a href="#">
                  <div class="user-tooltip__icon"><img src="../../../../assets/images/tikixu.svg" alt="tikixu"></div>
                  <div class="user-tooltip__title">Thông tin Tiki Xu<br>Bạn đang có 0 Tiki xu</div>
                </a>
              </li>
              <li class="user-tooltip__item">
                <a href="#">
                  <div class="user-tooltip__icon"><img src="../../../../assets/images/bookcare.svg" alt="bookcare"></div>
                  <div class="user-tooltip__title">Thông tin BookCare<br>Bạn đang có 0 BookCare</div>
                </a>
              </li>
              <li class="user-tooltip__item">
                <a href="#">Đổi trả dễ dàng</a>
              </li>
              <li class="user-tooltip__item">
                <a href="#">Thoát tài khoản</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="user-menu__item">
          <a routerLink="/cart">
            <div class="user-menu__icon"><i class="tikicon icon-cart"></i></div>
            <div class="user-menu__title">
              Giỏ hàng
              <span class="badge cart__badge">1</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Menu -->
  <div class="header__main-menu">
    <div class="container main-menu">
      <div class="row main-menu__content">
        <div class="col-5 main-menu__content--left">
          <div class="d-flex justify-content-between control-menu">
            <div class="control-menu__item category-menu">
              <a href="#">
                <div class="control-menu__icon"><i class="tikicon icon-burger-menu"></i></div>
                <div class="control-menu__title">DANH MỤC SẢN PHẨM</div>
              </a>
            </div>
            <div class="control-menu__item address-menu">
              <a href="#">
                <div class="control-menu__icon"><i class="tikicon icon-location-picker"></i></div>
                <div class="control-menu__title">Quận 3, Hồ Chí Minh</div>
              </a>
            </div>
            <div class="control-menu__item recent-tooltip">
              <a href="#" class="recent-tooltip__wrap">
                <div class="control-menu__icon"><i class="tikicon icon-arrow-down"></i></div>
                <div class="control-menu__title">Sản phẩm<br>bạn đã xem</div>
              </a>
              <div class="recent-tooltip__content">
                <a href="#" class="recent-tooltip__img">
                  <img src="../../../../assets/images/recently-viewed-1.jpg" alt="recently-viewed-1">
                </a>
                <a href="#" class="recent-tooltip__img">
                  <img src="../../../../assets/images/recently-viewed-2.jpg" alt="recently-viewed-2">
                </a>
                <a href="#" class="recent-tooltip__img">
                  <img src="../../../../assets/images/recently-viewed-3.jpg" alt="recently-viewed-3">
                </a>
                <a href="#" class="recent-tooltip__img">
                  <img src="../../../../assets/images/recently-viewed-4.jpg" alt="recently-viewed-4">
                </a>
                <a href="#" class="recent-tooltip__img">
                  <img src="../../../../assets/images/recently-viewed-5.jpg" alt="recently-viewed-5">
                </a>
                <a href="#" class="recent-tooltip__img">
                  <img src="../../../../assets/images/recently-viewed-6.jpg" alt="recently-viewed-6">
                </a>
                <a href="#" class="recent-tooltip__img">
                  <img src="../../../../assets/images/recently-viewed-7.jpg" alt="recently-viewed-7">
                </a>
                <a href="#" class="recent-tooltip__img">
                  <img src="../../../../assets/images/recently-viewed-8.jpg" alt="recently-viewed-8">
                </a>
                <a href="#" class="recent-tooltip__img">
                  <img src="../../../../assets/images/recently-viewed-9.jpg" alt="recently-viewed-9">
                </a>
                <!--                                    <a href="#" class="btn recent-tooltip__button">Xem thêm</a>-->
              </div>
            </div>
          </div>
        </div>
        <div class="col-7 main-menu__content--right">
          <div class="d-flex justify-content-between tiki-menu">
            <div class="tiki-menu__item">
              <a href="#">
                <div class="tiki-menu__icon"><img src="../../../../assets/images/tiki-card.svg" alt="tiki-card"></div>
                <div class="tiki-menu__title">Hoàn tiền<br>15%</div>
              </a>
            </div>
            <div class="tiki-menu__item">
              <a href="#">
                <div class="tiki-menu__icon"><i class="tikicon icon-tikinow"></i></div>
                <div class="tiki-menu__title">Giao nhanh<br>2h & hôm nay</div>
              </a>
            </div>
            <div class="tiki-menu__item">
              <a routerLink="/category">
                <div class="tiki-menu__icon"><img src="../../../../assets/images/tiki-ngon.png" alt="tiki-ngon"></div>
                <div class="tiki-menu__title">Thực phẩm<br>tươi sống</div>
              </a>
            </div>
            <div class="tiki-menu__item">
              <a href="#">
                <div class="tiki-menu__icon"><i class="tikicon icon-exclusive"></i></div>
                <div class="tiki-menu__title">Sản phẩm<br>chính hiệu</div>
              </a>
            </div>
            <div class="tiki-menu__item">
              <a href="#">
                <div class="tiki-menu__icon"><i class="tikicon icon-return"></i></div>
                <div class="tiki-menu__title">30 ngày<br>đổi trả</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
