.header {}

/* ------- Header Banner ------- */
.banner__content {
  min-height: 50px;
  background-image: url("../../../../assets/images/deal-banner2.png"), linear-gradient(to right, #4056ea 40%, #3c85f5 50%, #37b4ff 60%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 50px;
}


/* ------- Header Menu ------- */
.header__menu {
  background-color: #1d71ab;
}
/* ==> nav-header */


/* ------- Header Feature ------- */
.header__feature {
  background-color: #189eff;
  padding-top: 1rem;
  padding-bottom: 0.8rem; }

.feature {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* ------ Logo ------- */
.feature__logo {
  display: flex;
  align-items: center; }

.feature__logo i {
  padding-top: 0.3rem;
  margin-right: 0.125rem; }

.feature__logo img {
  height: 2.2em;
  margin-right: 3px; }

/* ------ Search Form ------- */
.feature__form {}

.search-form {}

.search-form__input {
  width: 12rem;
  height: 2.5rem;
  border: 0;
  font-size: 13px; }

.search-form__checkbox {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding-right: 0.5rem; }

.search-form__checkbox a {
  letter-spacing: 0.031rem;
  font-weight: 300;
  font-size: 13px;
  color: #4a4a4a; }

.search-form__checkbox a b {
  font-weight: bold; }

.search-form__button {
  letter-spacing: .5px;
  background-color: #edeef2;
  border: none;
  font-size: 14px;
  color: #4a4a4a;
  font-weight: 400; }

.search-form__button i {
  margin-right: 0.188em; }

/* ------ Feature Menu ------- */
.feature__menu {}

.user-menu {
  display: flex; }

.user-menu__item {
  margin-left: 1.563em; }

.user-menu__item a {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .9px; }

.user-menu__item:last-child {
  border: 2px solid #ffffff;
  border-radius: 4px;
  padding: 0.375em 0.75em; }

.user-menu__icon {
  margin-right: 0.625em; }

/* ------ Icon Notification ------- */
.notification {
  position: relative; }

.notification__badge {
  width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 10em;
  text-align: center;
  font-weight: 500;
  background-color: #ff5353;
  font-size: 11px;
  color: #ffffff; }

.notification__badge--main {
  position: absolute;
  top: -3px;
  left: 60%; }

.notification__badge--sub {
  margin-left: 0.313em;
  line-height: 0.625em; }

/* ------ Icon Cart ------- */
.cart__badge {
  border-radius: 2px;
  background-color: #fdd835;
  font-size: 12px;
  color: #4a4a4a;
  font-weight: 700; }

/* ------ User Tooltip ------- */
.user-tooltip {
  position: relative; }

.user-tooltip:hover .user-tooltip__content {
  display: block; }

.user-tooltip__content {
  position: absolute;
  display: none;
  top: 50px;
  left: -50px;
  z-index: 10;
  width: auto;
  min-width: 265px;
  padding: 0.313em 0;
  border-radius: 0 0 3px 3px;
  border: 1px solid #efefef;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.18);
  font-size: 13px;
  color: #333;
  background-color: #ffffff; }

.user-tooltip__content:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -7px;
  left: 50%;
  border-style: solid;
  border-width: 0 7px 7px;
  border-color: transparent transparent #ffffff; }

.user-tooltip__item a {
  color: #333;
  padding: 0.5em 1.25em; }

.user-tooltip__item a:hover {
  color: #000;
  background-color: #f5f4f5; }

/* ------ User Tooltip Icons ------- */
.user-tooltip__icon img {
  min-height: 26px;
  margin-right: 10px; }


/* ------- Header Main Menu ------- */
.header__main-menu {
  background-color: #189eff;
  padding-top: 0.313em;
  padding-bottom: 0.313em;
  overflow: hidden;
}

.main-menu {}

/* ------- Main Menu Left ------- */
.main-menu__content--left {}

/* ------- Main Menu - Control Menu ------- */
.control-menu {
  align-items: center; }

.control-menu__item {
  font-size: 13px;
  letter-spacing: .6px; }

.control-menu__item a {
  display: flex;
  align-items: center; }

.control-menu__icon {
  margin-right: 0.5em; }

/* ------- Recent Tooltip ------- */
.recent-tooltip {
  position: relative; }

.recent-tooltip:hover .recent-tooltip__content {
  display: flex; }

.recent-tooltip__content {
  position: absolute;
  display: none;
  width: 77.5em;
  top: 50px;
  left: -100px;
  z-index: 1;
  padding: 1.25em;
  border-radius: 4px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
  font-size: 13px;
  color: #242424;
  background-color: #ffffff; }

.recent-tooltip__content:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -7px;
  left: 38%;
  border-style: solid;
  border-width: 0 7px 7px;
  border-color: transparent transparent #ffffff;
}

.recent-tooltip__content a.recent-tooltip__button {
  border-radius: 4px;
  padding: 0.313em 15px;
  height: 30px;
  font-size: 13px;
  color: #189eff;
  background-color: #ffffff;
  border: 1px solid #189eff;
}

.recent-tooltip__content a.recent-tooltip__button:hover {
  color: #ffffff;
  background-color: #189eff; }

.recent-tooltip__content a.recent-tooltip__img img {
  width: 5.688em;
  height: 5.688em; }


/* ------- Main Menu Right ------- */
.main-menu__content--right {
  padding-left: 1.563em;
  padding-right: 1.563em;
}

/* ------- Main Menu - Tiki Menu ------- */
.tiki-menu {
  align-items: center; }

.tiki-menu__item {
  font-size: 12px;
  letter-spacing: .6px; }

.tiki-menu__item a {
  display: flex;
  align-items: center; }

.tiki-menu__icon {
  margin-right: 0.5em; }

.tiki-menu__icon img {
  max-width: 64px; }



/* --------------- Responsive - Header -------------------*/

/* Small smartphones in portrait mode - XS */
@media screen and (max-width: 480px) {

}

/* Larger smartphones, smartphones in landscape mode - SM */
@media screen and (min-width: 481px) and (max-width: 768px) {

}

/* Tablets in portrait mode, large display smartphones landscape mode - MD */
@media screen and (min-width: 769px) and (max-width: 1023px) {

}

/* Tablets in landscape mode, older desktop monitors - LG */
@media screen and (min-width: 1024px) and (max-width: 1365px) {

}

/* Monitors with screen width 1366px or above - XL */
/* ... */
