/* ------------- Nav Header ---------------*/

.nav-header {
  letter-spacing: .5px;
  font-weight: 300;
}

.nav-header .nav-item {
  font-size: 12px;
  color: #ffffff; }

.nav-header .nav-item img {
  width: 18px; }

.nav-header .nav-item .nav-icon {
  color: #F3EB00;
  font-size: 17px;
  margin-right: 2px; }

.nav-header .nav-link {
  padding-right: 10px;
  padding-left: 10px; }

/* --------- Nav Tooltips ---------- */
.nav-header .nav-tooltip {
  position: relative; }

.nav-tooltip__content--assistant,
.nav-tooltip__content--sale {
  position: absolute;
  display: none;
}

.nav-tooltip__content--assistant:before,
.nav-tooltip__content--sale:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
  border-width: 0 7px 7px;
  border-color: transparent transparent #ffffff;
}

/* ------ Assistant Tooltip -------- */
.nav-tooltip__content--assistant {
  width: 400px;
  top: 32px;
  left: 32px;
  z-index: 20;
  padding: 12px;
  border-radius: 4px;
  margin-top: 10px;
  line-height: 20px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
  transition-duration: .3s;
  font-size: 13px;
  color: #242424;
  background-color: #ffffff;
  font-weight: 400; }

.nav-tooltip__content--assistant:before {
  top: -7px;
  left: 25px; }

.nav-tooltip__content--assistant p a {
  color: #007ff0; }

.nav-tooltip__content--assistant p:last-child {
  margin-bottom: 0; }

.nav-tooltip:hover .nav-tooltip__content--assistant {
  display: block; }

/* ------ Sale Tooltip -------- */
.nav-tooltip__content--sale {
  width: 508px;
  top: 26px;
  right: 5px;
  z-index: 4;
  padding: 10px 20px 20px;
  border-radius: 0 0 4px 4px;
  margin-top: 10px;
  height: 23rem;
  line-height: 20px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.28);
  transition-duration: .3s;
  font-size: 13px;
  color: #242424;
  background-color: #ffffff;
  font-weight: 400; }

.nav-tooltip__content--sale:before {
  top: -7px;
  left: "";
  right: 60px; }

.nav-tooltip__content--sale h3 {
  margin-bottom: 1rem; }

.nav-tooltip__content--sale button {
  padding: 10px 47px;
  border: none;
  border-radius: 5px;
  margin-top: 3.2rem;
  font-size: 13px;
  color: #ffffff;
  background-color: #ff3945;
  border: 1px solid "";
  letter-spacing: .5px; }

.nav-tooltip__content--sale button:hover {
  color: "";
  background-color: ""; }

.nav-tooltip__content--sale button:hover {
  opacity: .8; }

.nav-tooltip__content--sale .img-sale img {
  width: 173px;
  position: absolute;
  top: 5px;
  right: 5px; }

.nav-tooltip:hover .nav-tooltip__content--sale {
  display: block; }


/* ------------- Nav Footer ---------------*/

.nav-footer {
  letter-spacing: .5px;
  font-weight: 300;
}

.footer__nav-footer {
  background-color: #ffffff;
  border-bottom: 1px solid #f7f7f7; }

.nav-footer {
  display: flex;
  padding-top: 40px;
  padding-bottom: 25px; }

.nav-footer a {
  color: #898989; }

.nav-footer__section {
  width: 226px;
  margin-right: 14px; }

.nav-footer__section:first-child {
  width: 280px; }

.nav-footer__section h4 {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: .8rem; }

.nav-footer__list {
  font-size: 12px;
  color: #333; }

.nav-footer__link {
  margin-bottom: 11px; }

.nav-footer__hotline span, .nav-footer__hotline a {
  font-size: 13px;
  color: #c4011a;
  font-weight: 600; }

.nav-footer__hotline small {
  font-size: 12px;
  color: #333; }

.nav-footer__socials {
  margin-bottom: 3rem; }

.nav-footer__socials i {
  margin-right: 1rem; }
