<!-- Header -->
<div *ngIf="isDesktop">
  <app-header></app-header>
</div>
<div *ngIf="!isDesktop">
  <app-header-mob></app-header-mob>
</div>

<!-- Main -->
<div>
  <app-main></app-main>
</div>

<!-- Footer -->
<div *ngIf="isDesktop">
  <app-footer></app-footer>
</div>
<div *ngIf="!isDesktop">
  <app-footer-mob></app-footer-mob>
</div>
