<!-- Header -->
<div *ngIf="isDesktop">
  <app-header></app-header>
</div>
<div *ngIf="!isDesktop">
  <app-header-mob></app-header-mob>
</div>

<!-- Main -->
<main>
  <div class="container d-flex justify-content-center pt-5">
    This is product detail page.
  </div>
</main>

<!-- Footer -->
<div *ngIf="isDesktop">
  <app-footer></app-footer>
</div>
<div *ngIf="!isDesktop">
  <app-footer-mob></app-footer-mob>
</div>
