/*----------- Product Carousel -----------*/
.product__carousel {
}

/* Small smartphones in portrait mode - XS */
@media screen and (max-width: 480px) {

  /* Product Carousel */
  .product__carousel {
    padding: 20px 0;
  }
}

/* Larger smartphones, smartphones in landscape mode - SM */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* Product Carousel */
  .product__carousel {
    padding: 10px 0;
  }
}

/* Tablets in portrait mode, large display smartphones landscape mode- MD */
@media screen and (min-width: 769px) and (max-width: 1023px) {

}

/* Tablets in landscape mode, older desktop monitors - LG */
@media screen and (min-width: 1024px) and (max-width: 1365px) {

}

/* Monitors with screen width 1366px or above - XL */
/* ... */
