/*----------- Product Carousel -----------*/
/* Small smartphones in portrait mode - XS */
@media screen and (max-width: 480px) {
  /* Product Carousel */
  .product__carousel {
    padding: 20px 0;
  }
}
/* Larger smartphones, smartphones in landscape mode - SM */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* Product Carousel */
  .product__carousel {
    padding: 10px 0;
  }
}
/* Tablets in portrait mode, large display smartphones landscape mode- MD */
/* Tablets in landscape mode, older desktop monitors - LG */
/* Monitors with screen width 1366px or above - XL */
/* ... */

/*# sourceMappingURL=product-carousel.component.css.map */
