<li class="category__item category__item--child" *ngFor="let category of categories">
  <a href="#">{{ category.name }}
    <span class="category__quantity">({{ category.quantity }})</span>
  </a>
</li>
