.category__item {
  margin-bottom: .3rem;
  font-size: 13px;
  color: #242424; }

.category__item a {
  color: #242424;
}

.category__item--parent {
  margin-bottom: .5rem;
  font-weight: bold; }

.category__item--parent:hover {
  background-color: #eaeaea; }

.category__item--child {
  padding-left: 16px; }

.category__item--child:hover {
  background-color: #eaeaea; }

.category__item--hide {
  text-align: center; }

.category__item--hide:hover {
  background-color: #ffffff; }
