.tikicon {
  display: inline-block; }

.icon-uu-dai-hop-tac {
  background-image: url("../../images/sprite.png");
  background-position: -455px -382px;
  width: 18px;
  height: 18px; }

.icon-tiki {
  background-image: url("../../images/sprite.png");
  background-position: -137px -265px;
  width: 50px;
  height: 33px; }

.icon-tracking {
  background-image: url("../../images/sprite.png");
  background-position: -484px -25px;
  width: 22px;
  height: 22px; }

.icon-noti {
  background-image: url("../../images/sprite.png");
  background-position: -261px -376px;
  width: 24px;
  height: 24px; }

.icon-user {
  background-image: url("../../images/sprite.png");
  background-position: -484px -52px;
  width: 22px;
  height: 22px; }

.icon-cart {
  background-image: url("../../images/sprite.png");
  background-position: -455px -201px;
  width: 19px;
  height: 18px; }

.icon-burger-menu {
  background-image: url("../../images/sprite.png");
  background-position: -427px -331px;
  width: 20px;
  height: 16px; }

.icon-location-picker {
  background-image: url("../../images/sprite.png");
  background-position: -406px -376px;
  width: 24px;
  height: 24px; }

.icon-arrow-down {
  background-image: url("../../images/sprite.png");
  background-position: -484px -449px;
  width: 12px;
  height: 6px; }

.icon-tikinow {
  background-image: url("../../images/sprite.png");
  background-position: -192px -265px;
  width: 58px;
  height: 28px; }

.icon-exclusive {
  background-image: url("../../images/sprite.png");
  background-position: -394px -98px;
  width: 28px;
  height: 29px; }

.icon-return {
  background-image: url("../../images/sprite.png");
  background-position: -132px -376px;
  width: 28px;
  height: 28px; }

.icon-tiki-now {
  background-image: url("../../images/sprite.png");
  background-position: 0 -352px;
  width: 63px;
  height: 19px; }

.icon-visa {
  background-image: url("../../images/sprite.png?v=100000000");
  background-position: -198px -155px;
  width: 54px;
  height: 33px; }

.icon-mastercard {
  background-image: url("../../images/sprite.png");
  background-position: -207px -200px;
  width: 54px;
  height: 33px; }

.icon-jcb {
  background-image: url("../../images/sprite.png");
  background-position: -139px -155px;
  width: 54px;
  height: 33px; }

.icon-cash {
  background-image: url("../../images/sprite.png");
  background-position: -264px -104px;
  width: 54px;
  height: 33px; }

.icon-i-banking {
  background-image: url("../../images/sprite.png");
  background-position: -257px -155px;
  width: 54px;
  height: 33px; }

.icon-installment {
  background-image: url("../../images/sprite.png");
  background-position: -148px -200px;
  width: 54px;
  height: 33px; }

.icon-fb {
  background-image: url("../../images/sprite.png");
  background-position: -349px -209px;
  width: 32px;
  height: 32px; }

.icon-youtube {
  background-image: url("../../images/sprite.png");
  background-position: -349px -172px;
  width: 32px;
  height: 32px; }

.icon-zalo {
  background-image: url("../../images/sprite.png");
  background-position: -349px -135px;
  width: 32px;
  height: 32px; }

.icon-appstore {
  background-image: url("../../images/sprite.png");
  background-position: -125px -104px;
  width: 134px;
  height: 40px; }

.icon-ggplay {
  background-image: url("../../images/sprite.png");
  background-position: 0 -155px;
  width: 134px;
  height: 40px; }

.icon-location {
  background-image: url("../../images/sprite.png");
  background-position: 0 -265px;
  width: 38px;
  height: 57px; }
