.page-link {
  color: #333;
  background-color: #f7f7f7;
  border: none;
  margin: 0 2px; }

.page-link:hover {
  color: #333;
  background-color: #c1e7ff;
  border-color: #c1e7ff; }

.page-link:focus {
  outline: none;
  box-shadow: none; }

.page-item.active .page-link {
  background-color: #189eff; }
