<!-- Header Breadcrumb -->
<div class="breadcrumb-wrapper-mob">
  <div class="container breadcrumb-mob">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link"><img src="../../../../assets/images/homeWhite.png" alt="home icon"></a></li>
        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Danh mục</a></li>
        <li class="breadcrumb-item active">Thực Phẩm Tươi Sống</li>
      </ol>
    </nav>
  </div>
</div>
