/* Breadcrumb */
.breadcrumb-mob {
  background-color: rgb(27, 168, 255);
}

.breadcrumb {
  align-items: center;
  margin-bottom: 0;
  padding: 0.5rem 0.5rem;
  background-color: rgb(27, 168, 255);
}

.breadcrumb-item {
  align-items: center;
}

.breadcrumb-item a {
  color: rgb(209, 237, 255);
}

.breadcrumb-item.active {
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: rgb(255, 255, 255);
  content: "\003e";
  font-size: 17px;
}

.breadcrumb-mob img {
  min-width: 22px;
  max-width: 22px;
}
