/* Breadcrumb */
.breadcrumb-mob {
  background-color: #1ba8ff;
}

.breadcrumb {
  align-items: center;
  margin-bottom: 0;
  padding: 0.5rem 0.5rem;
  background-color: #1ba8ff;
}

.breadcrumb-item {
  align-items: center;
}

.breadcrumb-item a {
  color: #d1edff;
}

.breadcrumb-item.active {
  color: white;
  font-weight: 600;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: white;
  content: ">";
  font-size: 17px;
}

.breadcrumb-mob img {
  min-width: 22px;
  max-width: 22px;
}

/*# sourceMappingURL=breadcrumb-mob.component.css.map */
