.footer {
  letter-spacing: 0.5px;
  font-weight: 300;
}

/* --------------- Footer Sign Up Form -----------------*/
.sign-up-form {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
}

.sign-up-form__logo img {
  width: 163px;
  height: 99px;
}

.sign-up-form__title {
  color: #4e5052;
  padding-left: 15px;
}

.sign-up-form__title h3 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 0;
}

.sign-up-form__title h5 {
  font-size: 13px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 0;
}

.sign-up-form__content {
  margin: 0 auto;
  padding-top: 30px;
}

.sign-up-form__input {
  font-size: 13px;
  border: 1px solid #ced4da;
  width: 25rem;
}

.sign-up-form__button {
  font-size: 14px;
  color: #ffffff;
  background-color: #00afef;
  border-color: #00afef;
  margin-left: 5px;
}

.sign-up-form__button:hover {
  opacity: 0.8;
}

/* --------------- Footer Main Info -----------------*/
/* ==> nav-footer */
/* --------------- Footer Address Info -----------------*/
.footer__address {
  background-color: #ffffff;
}

.address {
  padding: 30px 40px;
  display: flex;
}

.address__logo {
  margin-right: 20px;
}

.address__location {
  font-size: 12px;
}

.address__term {
  font-size: 11px;
  color: #4a4a4a;
}

/* --------------- Footer Copyright -----------------*/
.footer__copyright {
  background-color: #ffffff;
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.copyright__info-left h5 {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.copyright__info-left p {
  font-size: 11px;
  color: #4a4a4a;
}

.copyright__info-right img {
  height: 36px;
}

/* --------------- Responsive - Footer -------------------*/
/* Small smartphones in portrait mode - XS */
@media screen and (max-width: 480px) {
  .footer-mob {
    padding: 10px 0;
    text-align: center;
  }
}
/* Larger smartphones, smartphones in landscape mode - SM */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer-mob {
    padding: 10px 0;
    text-align: center;
  }
}
/* Tablets in portrait mode, large display smartphones landscape mode - MD */
/* Tablets in landscape mode, older desktop monitors - LG */
/* Monitors with screen width 1366px or above - XL */
/* ... */

/*# sourceMappingURL=footer.component.css.map */
