<!-- Footer -->
<footer class="footer">
  <!-- Sign Up Form -->
  <div class="footer__sign-up-form">
    <div class="container sign-up-form">
      <div class="sign-up-form__logo">
        <img src="../../../../assets/images/newsletter.png" alt="newsletter">
      </div>
      <div class="sign-up-form__title">
        <h3>Đăng ký nhận bản tin Tiki</h3>
        <h5>Đừng bỏ lỡ hàng ngàn sản phẩm và chương trình siêu hấp dẫn</h5>
      </div>
      <form class="sign-up-form__content">
        <input type="email" class="sign-up-form__input form-control" placeholder="Địa chỉ mail của bạn">
        <button id="btnSignUp" type="button" class="btn sign-up-form__button">Đăng ký</button>
      </form>
    </div>
  </div>

  <!-- Footer Main Info -->
  <div class="footer__nav-footer">
    <div class="container nav-footer">
      <div class="nav-footer__section">
        <h4>HỖ TRỢ KHÁCH HÀNG</h4>
        <p class="nav-footer__hotline">
          <span>Hotline chăm sóc khách hàng:</span>
          <a href="tel:19006035">1900-6035</a>
          <br>
          <small>(1000đ/phút , 8-21h kể cả T7, CN)</small>
        </p>
        <ul class="nav-footer__list">
          <li class="nav-footer__link"><a href="#">Các câu hỏi thường gặp</a></li>
          <li class="nav-footer__link"><a href="#">Gửi yêu cầu hỗ trợ</a></li>
          <li class="nav-footer__link"><a href="#">Hướng dẫn đặt hàng</a></li>
          <li class="nav-footer__link"><a href="#">Phương thức vận chuyển</a></li>
          <li class="nav-footer__link"><a href="#">Chính sách đổi trả</a></li>
          <li class="nav-footer__link"><a href="#">Hướng dẫn mua trả góp</a></li>
          <li class="nav-footer__link"><a href="#">Chính sách hàng nhập khẩu</a></li>
          <p class="nav-footer__customer-support">
            Hỗ trợ khách hàng:
            <a href="mailto:hotro@tiki.vn">hotro@tiki.vn</a>
          </p>
          <p class="nav-footer__customer-support">
            Báo lỗi bảo mật:
            <a href="mailto:security@tiki.vn">security@tiki.vn</a>
          </p>
        </ul>
      </div>
      <div class="nav-footer__section">
        <h4>VỀ TIKI</h4>
        <ul class="nav-footer__list">
          <li class="nav-footer__link"><a href="#">Giới thiệu Tiki</a></li>
          <li class="nav-footer__link"><a href="#">Tuyển Dụng</a></li>
          <li class="nav-footer__link"><a href="#">Chính sách bảo mật thanh toán</a></li>
          <li class="nav-footer__link"><a href="#">Chính sách bảo mật thông tin cá nhân</a></li>
          <li class="nav-footer__link"><a href="#">Chính sách giải quyết khiếu nại</a></li>
          <li class="nav-footer__link"><a href="#">Điều khoản sử dụng</a></li>
          <li class="nav-footer__link"><a href="#">Giới thiệu Tiki Xu</a></li>
          <li class="nav-footer__link"><a href="#">Bán hàng doanh nghiệp</a></li>
        </ul>
      </div>
      <div class="nav-footer__section">
        <h4>HỢP TÁC VÀ LIÊN KẾT</h4>
        <ul class="nav-footer__list">
          <li class="nav-footer__link"><a href="#">Quy chế hoạt động Sàn GDTMĐT</a></li>
          <li class="nav-footer__link"><a href="#">Bán hàng cùng Tiki</a></li>
        </ul>
      </div>
      <div class="nav-footer__section">
        <h4>PHƯƠNG THỨC THANH TOÁN</h4>
        <div class="nav-footer__payment">
          <div class="nav-footer__payment--row">
            <i class="tikicon icon-visa"></i>
            <i class="tikicon icon-mastercard"></i>
            <i class="tikicon icon-jcb"></i>
          </div>
          <div class="nav-footer__payment--row">
            <i class="tikicon icon-cash"></i>
            <i class="tikicon icon-i-banking"></i>
            <i class="tikicon icon-installment"></i>
          </div>
        </div>
      </div>
      <div class="nav-footer__section">
        <h4>KẾT NỐI VỚI CHÚNG TÔI</h4>
        <div class="nav-footer__socials">
          <i class="tikicon icon-fb"></i>
          <i class="tikicon icon-youtube"></i>
          <i class="tikicon icon-zalo"></i>
        </div>

        <h4>TẢI ỨNG DỤNG TRÊN ĐIỆN THOẠI</h4>
        <div class="nav-footer__apps">
          <i class="tikicon icon-appstore"></i>
          <i class="tikicon icon-ggplay"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Address Info -->
  <div class="footer__address">
    <div class="container address">
      <div class="address__logo">
        <i class="tikicon icon-location"></i>
      </div>
      <div class="address__content">
        <p class="address__location">
          <b>Địa chỉ văn phòng: </b>
          52 Út Tịch, phường 4, quận Tân Bình, thành phố Hồ Chí Minh
        </p>
        <p class="address__term">
          Tiki nhận đặt hàng trực tuyến và giao hàng tận nơi, chưa hỗ trợ mua và
          nhận hàng trực tiếp tại văn <br> phòng hoặc trung tâm xử lý đơn hàng
        </p>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="footer__copyright">
    <div class="container copyright">
      <div class="copyright__info-left">
        <h5>&copy; 2016 - Bản quyền của Công Ty Cổ Phần TiKi - Tiki.vn</h5>
        <p>
          Giấy chứng nhận Đăng ký Kinh doanh số 0309532909 do Sở Kế hoạch và Đầu tư
          Thành phố Hồ Chí Minh cấp ngày 06/01/2010
        </p>
      </div>
      <div class="copyright__info-right">
        <img src="../../../../assets/images/fake-tamp.png" alt="not fake">
        <img src="../../../../assets/images/signup%20already.png" alt="sign up tamp">
      </div>
    </div>
  </div>
</footer>
