.detail-product__tiki-fresh {
  width: 100%; }

.tiki-fresh {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
}

.tiki-fresh .card {
  border: none; }

.tiki-fresh__item {
  width: 25%; }

.tiki-fresh__item:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 1; }

.tiki-fresh__item a {
  font-size: 13px;
  color: #242424; }

.tiki-fresh__item a > img {
  width: 100%;
  height: 100%;
  padding: 25px 25px; }

.tiki-fresh__title img {
  width: 70px;
  display: inline; }

.tiki-fresh__title span {
  font-size: 14.5px;
  color: #242424;
  letter-spacing: .1px;
  font-style: normal;
  font-stretch: normal;
  max-height: 43px;
  font-weight: 300; }

.tiki-fresh__price {
  font-size: 16px;
  color: #242424;
  font-weight: 500; }

.tiki-fresh__discount-rate {
  font-size: 13px;
  color: #787878; }

.tiki-fresh__single-price {
  display: block;
  font-size: 13px;
  color: #787878;
  text-decoration: line-through; }

.tiki-fresh__fast-deliver {
  display: block;
  font-size: 13px;
  color: #26bc4e;
  font-weight: 600;
  margin-bottom: 10px; }

.tiki-fresh__category {
  font-size: 13px;
  color: #242424;
  letter-spacing: .1px;
  margin-bottom: 10px; }

.tiki-fresh__add-cart a {
  border-radius: 4px;
  font-size: 13px;
  color: #0d5cb6;
  background-color: #ffffff;
  border: 1px solid #0d5cb6; }

.tiki-fresh__add-cart a:hover {
  color: #0d5cb6;
  background-color: #ffffff; }


/* Small smartphones in portrait mode - XS */
@media screen and (max-width: 480px) {
  .tiki-fresh {
    padding: 0;
  }

  .tiki-fresh__item {
    width: 50%;
  }

  .tiki-fresh__content {
    padding-left: 5%;
  }

  .tiki-fresh__item a > img {
    //max-width: 10%;
    //padding: 25px 25px;
  }

  .tiki-fresh__title img {
    display: block;
  }


  .tiki-fresh__single-price, .tiki-fresh__fast-deliver,
  .tiki-fresh__category, .tiki-fresh__add-cart {
    display: none;
  }
}

/* Larger smartphones, smartphones in landscape mode - SM */
@media screen and (min-width: 481px) and (max-width: 768px) {

}

/* Tablets in portrait mode, large display smartphones landscape mode - MD */
@media screen and (min-width: 769px) and (max-width: 1023px) {

}

/* Tablets in landscape mode, older desktop monitors - LG */
@media screen and (min-width: 1024px) and (max-width: 1365px) {

}

/* Monitors with screen width 1366px or above - XL */
/* ... */
