<div class="detail-product__tiki-fresh tiki-fresh">
  <section class="card tiki-fresh__item" *ngFor="let product of products">
    <a routerLink="/product-detail">
      <img class="card-img-top" src="assets/img/tom-hum.png" alt="tom-hum">
      <div class="card-body tiki-fresh__content">
        <h5 class="card-title tiki-fresh__title">
<!--          {{ product | json}}-->
          <img src="../../../../assets/images/tiki-ngon.png" alt="tiki ngon">
          <span>{{ product.name }}</span>
        </h5>
        <p class="card-text">
          <span class="tiki-fresh__price">{{ product.price }}.000 đ</span>&nbsp;
          <span class="tiki-fresh__discount-rate">{{ product.discPercentage }}%</span>
          <small class="tiki-fresh__single-price">{{ product.discPrice }}</small>
          <span class="tiki-fresh__fast-deliver">
              <i class="fa fa-angle-double-right"></i>
              {{ product.shippingTime }}
          </span>
          <span class="tiki-fresh__category">
              <i class="fa fa-check-circle"></i>
              ĐẢO HẢI SẢN
          </span>
        </p>
        <div class="tiki-fresh__add-cart">
          <a href="#" class="btn btn-block">
            <i class="fa fa-plus"></i> Chọn
          </a>
        </div>
      </div>
    </a>
  </section>
</div>
