.cart__heading {
  padding-top: 18px;
  padding-bottom: 5px;
}

.cart__content {
  display: flex;
}

.cart__detail {
  width: 75%;
  margin-right: 18px;
  padding: 20px;
  background-color: #fff;
}

.cart-product {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}

/* Cart Product Info*/
.cart-product__info {
  display: flex;
}

.cart-product__img {
  min-width: 40px;
  min-height: 40px;
}

.cart-product__desc {
  margin-left: 10px;
}

.cart-product__desc > a {
  color: #242424;
}

.cart-product__desc > a:hover {
  color: #1ba8ff;
}

.cart-product__ship {
  color: #26bc4e;
  font-size: 13px;
  font-weight: 600;
}

.cart-product__seller {
  font-size: 14px;
}

.cart-product__seller a {
  color: #1ba8ff;
}

.cart-product__actions a {
  padding-right: 15px;
  font-size: 13px;
  color: #1ba8ff;
}

.cart-product__actions a:hover {
  text-decoration: underline;
}

.cart-product__price {
  display: flex;
}

.cart-product__cost {
  text-align: right;
}

.cart-product__quantity {
  text-align: center;
}

.cart-product__quantity input {
  width: 10%;
}

.cart-product__quantity a {
  padding: 5px;
  border: 2px solid #f7f7f7;
  color: #000;
}

.cart__price {
  width: 25%;
}

.cart__coupon {
  padding: 15px;
  margin-bottom: 18px;
  background-color: #fff;
  border-radius: 4px;
}

.coupon__selection {
  color: #0d5cb6;
}

.coupon__selection img {
  max-width: 30px;
}

.cart__price-wrapper {
  padding: 20px;
  margin-bottom: 18px;
  background-color: #fff;
  border-radius: 4px;
}

.price-info__item {
  display: flex;
  justify-content: space-between;
}

.price-info__value {
  text-align: right;
}

.cart__btn-order {
  width: 100%;
  background-color: #ff0f1e;
}

/*# sourceMappingURL=carting.component.css.map */
