<!-- Header -->
<div *ngIf="isDesktop">
  <app-header></app-header>
</div>
<div *ngIf="!isDesktop">
  <app-header-mob></app-header-mob>
</div>

<!-- Main -->
<main>
  <div class="container cart">
    <!-- Cart Heading -->
    <div class="cart__heading">
      <h5>GIỎ HÀNG <small>(3 sản phẩm)</small></h5>
    </div>

    <!-- Cart Content -->
    <div class="cart__content">
      <!-- Cart Detail -->
      <div class="cart__detail cart-product">
        <!-- Cart Info -->
        <div class="cart-product__info">
          <div class="cart-product__img">
            <img src="../../assets/images/nho-my.jpg" alt="nho my">
          </div>
          <div class="cart-product__desc">
            <a href="#">
              Nho Mỹ - Sweet Globe (Hộp 500g)
            </a>
            <p class="cart-product__ship">
              GIAO NHANH 24H
            </p>
            <p class="cart-product__seller">
              Cung cấp bởi
              <a href="#">TERRISA Direct</a>
            </p>
            <div class="cart-product__actions">
              <a href="#" type="button">Xóa</a>
              <a href="#" type="button">Để dành mua sau</a>
            </div>
          </div>
        </div>

        <!-- Cart Price of Product -->
        <div class="cart-product__price">
          <div class="cart-product__cost">
            <p class="cart-product__real-cost">95.000đ</p>
            <p class="cart-product__discount-cost">
              <small>155.000đ | -39%</small>
            </p>
          </div>
          <div class="cart-product__quantity prod-quantity">
            <span class="prod-quantity__decrease">-</span>
            <input type="tel" value="3">
            <span class="prod-quantity__increase">+</span>
          </div>
        </div>
      </div>

      <!-- Cart Total Price -->
      <div class="cart__price">
        <!-- Cart Coupon -->
        <div class="cart__coupon coupon">
          <h6 class="coupon__heading">Mã Giảm Giá</h6>
          <a href="#" class="coupon__selection">
            <img src="../../assets/images/coupon_icon.png" alt="coupon icon">
            Chọn Hoặc Nhập Mã
          </a>
        </div>

        <div class="cart__price-wrapper price-info">
          <div class="price-info__item">
            <p class="price-info__title">Tạm tính</p>
            <p class="price-info__value">616.000đ</p>
          </div>
          <div class="price-info__item">
            <p class="price-info__title">Thành tiền</p>
            <p class="price-info__value price-info__value--total">
              616.000đ
              <br>
              <small>(Đã bao gồm VAT nếu có)</small>
            </p>
          </div>
        </div>

        <div class="cart__order">
          <button class="btn btn-danger cart__btn-order">Tiến hành đặt hàng</button>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Footer -->
<div *ngIf="isDesktop">
  <app-footer></app-footer>
</div>
<div *ngIf="!isDesktop">
  <app-footer-mob></app-footer-mob>
</div>
