/* You can add global styles to this file, and also import other style files */
/*---------IMPORT---------*/
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
/*---------RESET---------*/
*:before,
*:after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", san-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

p {
  margin-bottom: 0.5rem;
}

/*---------VENDOR---------*/
.container {
  max-width: 1250px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  padding-right: 0;
  padding-left: 0;
}

.form-control {
  /*border: none;*/
  display: inline-block;
}

.form-control:focus {
  outline: none;
  /*border-color: black;*/
  box-shadow: none;
}

/* --------------- Responsive -------------------*/
/* Small smartphones in portrait mode - XS */
@media screen and (max-width: 480px) {
  body {
    background-color: #ffffff;
  }

  /*---------VENDOR---------*/
  .container {
    max-width: 540px;
  }
}
/* Larger smartphones, smartphones in landscape mode - SM */
@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    background-color: #ffffff;
  }

  /*---------VENDOR---------*/
  .container {
    max-width: 720px;
  }
}
/* Tablets in portrait mode, large display smartphones landscape mode - MD */
@media screen and (min-width: 769px) and (max-width: 1023px) {
  /*---------VENDOR---------*/
  .container {
    max-width: 960px;
  }
}
/* Tablets in landscape mode, older desktop monitors - LG */
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  /*---------VENDOR---------*/
  .container {
    max-width: 1140px;
  }
}
/* Monitors with screen width 1366px or above - XL */
/* ... */
/* ------------- Nav Header ---------------*/
.nav-header {
  letter-spacing: 0.5px;
  font-weight: 300;
}

.nav-header .nav-item {
  font-size: 12px;
  color: #ffffff;
}

.nav-header .nav-item img {
  width: 18px;
}

.nav-header .nav-item .nav-icon {
  color: #F3EB00;
  font-size: 17px;
  margin-right: 2px;
}

.nav-header .nav-link {
  padding-right: 10px;
  padding-left: 10px;
}

/* --------- Nav Tooltips ---------- */
.nav-header .nav-tooltip {
  position: relative;
}

.nav-tooltip__content--assistant,
.nav-tooltip__content--sale {
  position: absolute;
  display: none;
}

.nav-tooltip__content--assistant:before,
.nav-tooltip__content--sale:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
  border-width: 0 7px 7px;
  border-color: transparent transparent #ffffff;
}

/* ------ Assistant Tooltip -------- */
.nav-tooltip__content--assistant {
  width: 400px;
  top: 32px;
  left: 32px;
  z-index: 20;
  padding: 12px;
  border-radius: 4px;
  margin-top: 10px;
  line-height: 20px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
  transition-duration: 0.3s;
  font-size: 13px;
  color: #242424;
  background-color: #ffffff;
  font-weight: 400;
}

.nav-tooltip__content--assistant:before {
  top: -7px;
  left: 25px;
}

.nav-tooltip__content--assistant p a {
  color: #007ff0;
}

.nav-tooltip__content--assistant p:last-child {
  margin-bottom: 0;
}

.nav-tooltip:hover .nav-tooltip__content--assistant {
  display: block;
}

/* ------ Sale Tooltip -------- */
.nav-tooltip__content--sale {
  width: 508px;
  top: 26px;
  right: 5px;
  z-index: 4;
  padding: 10px 20px 20px;
  border-radius: 0 0 4px 4px;
  margin-top: 10px;
  height: 23rem;
  line-height: 20px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.28);
  transition-duration: 0.3s;
  font-size: 13px;
  color: #242424;
  background-color: #ffffff;
  font-weight: 400;
}

.nav-tooltip__content--sale:before {
  top: -7px;
  left: "";
  right: 60px;
}

.nav-tooltip__content--sale h3 {
  margin-bottom: 1rem;
}

.nav-tooltip__content--sale button {
  padding: 10px 47px;
  border: none;
  border-radius: 5px;
  margin-top: 3.2rem;
  font-size: 13px;
  color: #ffffff;
  background-color: #ff3945;
  border: 1px solid "";
  letter-spacing: 0.5px;
}

.nav-tooltip__content--sale button:hover {
  color: "";
  background-color: "";
}

.nav-tooltip__content--sale button:hover {
  opacity: 0.8;
}

.nav-tooltip__content--sale .img-sale img {
  width: 173px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.nav-tooltip:hover .nav-tooltip__content--sale {
  display: block;
}

/* ------------- Nav Footer ---------------*/
.nav-footer {
  letter-spacing: 0.5px;
  font-weight: 300;
}

.footer__nav-footer {
  background-color: #ffffff;
  border-bottom: 1px solid #f7f7f7;
}

.nav-footer {
  display: flex;
  padding-top: 40px;
  padding-bottom: 25px;
}

.nav-footer a {
  color: #898989;
}

.nav-footer__section {
  width: 226px;
  margin-right: 14px;
}

.nav-footer__section:first-child {
  width: 280px;
}

.nav-footer__section h4 {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.nav-footer__list {
  font-size: 12px;
  color: #333;
}

.nav-footer__link {
  margin-bottom: 11px;
}

.nav-footer__hotline span, .nav-footer__hotline a {
  font-size: 13px;
  color: #c4011a;
  font-weight: 600;
}

.nav-footer__hotline small {
  font-size: 12px;
  color: #333;
}

.nav-footer__socials {
  margin-bottom: 3rem;
}

.nav-footer__socials i {
  margin-right: 1rem;
}

.tikicon {
  display: inline-block;
}

.icon-uu-dai-hop-tac {
  background-image: url("../../images/sprite.png");
  background-position: -455px -382px;
  width: 18px;
  height: 18px;
}

.icon-tiki {
  background-image: url("../../images/sprite.png");
  background-position: -137px -265px;
  width: 50px;
  height: 33px;
}

.icon-tracking {
  background-image: url("../../images/sprite.png");
  background-position: -484px -25px;
  width: 22px;
  height: 22px;
}

.icon-noti {
  background-image: url("../../images/sprite.png");
  background-position: -261px -376px;
  width: 24px;
  height: 24px;
}

.icon-user {
  background-image: url("../../images/sprite.png");
  background-position: -484px -52px;
  width: 22px;
  height: 22px;
}

.icon-cart {
  background-image: url("../../images/sprite.png");
  background-position: -455px -201px;
  width: 19px;
  height: 18px;
}

.icon-burger-menu {
  background-image: url("../../images/sprite.png");
  background-position: -427px -331px;
  width: 20px;
  height: 16px;
}

.icon-location-picker {
  background-image: url("../../images/sprite.png");
  background-position: -406px -376px;
  width: 24px;
  height: 24px;
}

.icon-arrow-down {
  background-image: url("../../images/sprite.png");
  background-position: -484px -449px;
  width: 12px;
  height: 6px;
}

.icon-tikinow {
  background-image: url("../../images/sprite.png");
  background-position: -192px -265px;
  width: 58px;
  height: 28px;
}

.icon-exclusive {
  background-image: url("../../images/sprite.png");
  background-position: -394px -98px;
  width: 28px;
  height: 29px;
}

.icon-return {
  background-image: url("../../images/sprite.png");
  background-position: -132px -376px;
  width: 28px;
  height: 28px;
}

.icon-tiki-now {
  background-image: url("../../images/sprite.png");
  background-position: 0 -352px;
  width: 63px;
  height: 19px;
}

.icon-visa {
  background-image: url("../../images/sprite.png?v=100000000");
  background-position: -198px -155px;
  width: 54px;
  height: 33px;
}

.icon-mastercard {
  background-image: url("../../images/sprite.png");
  background-position: -207px -200px;
  width: 54px;
  height: 33px;
}

.icon-jcb {
  background-image: url("../../images/sprite.png");
  background-position: -139px -155px;
  width: 54px;
  height: 33px;
}

.icon-cash {
  background-image: url("../../images/sprite.png");
  background-position: -264px -104px;
  width: 54px;
  height: 33px;
}

.icon-i-banking {
  background-image: url("../../images/sprite.png");
  background-position: -257px -155px;
  width: 54px;
  height: 33px;
}

.icon-installment {
  background-image: url("../../images/sprite.png");
  background-position: -148px -200px;
  width: 54px;
  height: 33px;
}

.icon-fb {
  background-image: url("../../images/sprite.png");
  background-position: -349px -209px;
  width: 32px;
  height: 32px;
}

.icon-youtube {
  background-image: url("../../images/sprite.png");
  background-position: -349px -172px;
  width: 32px;
  height: 32px;
}

.icon-zalo {
  background-image: url("../../images/sprite.png");
  background-position: -349px -135px;
  width: 32px;
  height: 32px;
}

.icon-appstore {
  background-image: url("../../images/sprite.png");
  background-position: -125px -104px;
  width: 134px;
  height: 40px;
}

.icon-ggplay {
  background-image: url("../../images/sprite.png");
  background-position: 0 -155px;
  width: 134px;
  height: 40px;
}

.icon-location {
  background-image: url("../../images/sprite.png");
  background-position: 0 -265px;
  width: 38px;
  height: 57px;
}

/*# sourceMappingURL=styles.css.map */
