/*----------- Breadcrumb -----------*/
.breadcrumb-wrapper {
  background-color: #efefef; }

.breadcrumb {
  background-color: #efefef;
  letter-spacing: .5px;
  font-weight: 300;
  font-size: 13px;
  color: #999;
}

.breadcrumb-item a {
  color: #999; }

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}
