/*----------- Product -----------*/
.product {
  width: 100%;
  display: flex;
}

/*----------- Sidebar -----------*/
.product__sidebar {
  background-color: #ffffff;
  width: 21%;
  height: 70%;
  border-right: 1px solid #f7f7f7; }


/*----------- Product Content -----------*/
.product__content {
  background-color: #ffffff;
  width: 79%;
}

/*----------- Product Heading -----------*/
.product__heading {
  padding: 25px 20px 7px; }

.product__heading h1 {
  display: inline;
  font-size: 24px;
  font-weight: 300; }

.product__heading h4 {
  display: inline;
  font-size: 22px;
  color: #898989; }


/* -------------- Product Category Banner -----------------*/
.product__category-banner {
  margin-top: 20px;
  margin-bottom: 20px; }

.category-banner--row a {
  width: 100%; }

.category-banner--row a img {
  max-width: 100%; }

/*----------- Product Details -----------*/

/*----------- Product Filter -----------*/
.product__detail-product {}


/* ------------- Product List --------------*/


/* ------------- Product Pagination --------------*/


/* ------------- Related Product --------------*/

/*.product .detail-product__tiki-fresh {*/
/*    width: 100%; }*/

.product__related-products {
  /*width: 79%;*/
}

.related-products {
  display: flex;
  flex-wrap: wrap;
  padding: 16px; }

.related-products .card {
  border: none; }

.related-products__item {
  width: 25%; }

.related-products__item:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 1; }

.related-products__item a {
  font-size: 13px;
  color: #242424; }

.related-products__item a > img {
  width: 100%;
  height: 100%;
  padding: 25px 25px; }

.related-products__title img {
  width: 70px;
  display: inline; }

.related-products__title span {
  font-size: 14.5px;
  color: #242424;
  letter-spacing: .1px;
  font-style: normal;
  font-stretch: normal;
  max-height: 43px;
  font-weight: 300; }

.related-products__price {
  font-size: 16px;
  color: #242424;
  font-weight: 500; }

.related-products__discount-rate {
  font-size: 13px;
  color: #787878; }

.related-products__single-price {
  display: block;
  font-size: 13px;
  color: #787878;
  text-decoration: line-through; }

.related-products__fast-deliver {
  display: block;
  font-size: 13px;
  color: #26bc4e;
  font-weight: 600;
  margin-bottom: 10px; }

.related-products__category {
  font-size: 13px;
  color: #242424;
  letter-spacing: .1px;
  margin-bottom: 10px; }



/* --------------- Responsive - Main -------------------*/

/* Small smartphones in portrait mode - XS */
@media screen and (max-width: 480px) {

  /*----------- Product Content -----------*/
  .product__content {
    width: 100%;
  }

  /* Product Category */
  .category-mob {}

  .category-mob__heading h6 {
    font-weight: 600;
  }

  .category-mob__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .category-mob__item {
    width: calc(100% / 2 - 5px);
    background-color: rgba(36, 36, 36, 0.05);
    border-radius: 8px;
    margin: 5px 0;
  }

  .category-mob__thumbnail {
    display: flex;
    justify-content: space-around;
    margin: 7px 2px;
  }

  .category-mob__img > img {
    max-width: 50px;
    /*max-height: 50px;*/
  }

  .category-mob__name {
    padding-bottom: 3px;
    text-align: center;
    font-size: 13px;
    color: rgb(36, 36, 36);
  }

  .category-mob__view-more {
    margin: 7px 0;
    text-align: center;
  }

  .category-mob__view-more > a {
    font-size: 15px;
    color: rgb(13, 92, 182);
    font-weight: 500;
  }

  /* Product Filter - Mobile */
  .product__filter-mob {
    /* stick on scrolling up */

    padding-top: 5px;
  }

  .filter-mob {}

  .filter-mob__row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding-bottom: 5px;
    border-bottom: 2px solid #f7f7f7;
  }

  .filter-mob__location {
    align-items: center;
  }

  .filter-mob__location a {
    font-size: 14px;
    color: rgb(36, 36, 36);
    text-decoration: underline;
  }

  .filter-mob__location img {
    max-width: 25px;
  }

  .filter-mob__tiki-now {
    padding-left: 5px;
    border-left: 2px solid #f7f7f7;
  }

  .filter-mob__sort > span:first-child {
    font-size: 14px;
  }

  .filter-mob__sort > span:last-child {
    font-size: 14px;
    font-weight: 600;
  }

  .filter-mob__condition {
    padding-left: 5px;
    border-left: 2px solid #f7f7f7;
  }

  /* Product List - Mobile */
  .detail-product__tiki-fresh-mob {
    width: 100%; }

  .tiki-fresh-mob {
    display: flex;
    flex-wrap: wrap;
  }

  /*.tiki-fresh .card {*/
  /*    border: none; }*/

  .tiki-fresh-mob__item {
    width: 50%;
  }

  .tiki-fresh-mob__content {
    padding-left: 7%;
  }

  .tiki-fresh-mob__item a {
    font-size: 13px;
    color: #242424; }

  .tiki-fresh-mob__item a > img {
    max-width: 100%;
    /*height: 80%;*/
    padding: 25px 25px; }

  .tiki-fresh-mob__title img {
    max-width: 40%;
    /*height: 40px;*/
    display: block;
  }

  .tiki-fresh-mob__title span {
    font-size: 13px;
    color: #242424;
    letter-spacing: .1px;
    font-style: normal;
    font-stretch: normal;
    max-height: 43px;
    font-weight: 400; }

  .tiki-fresh-mob__price {
    font-size: 14px;
    font-weight: 600;
  }

  .tiki-fresh-mob__discount-rate {
    font-size: 13px;
    color: #787878; }

  .tiki-fresh-mob__single-price, .tiki-fresh-mob__fast-deliver,
  .tiki-fresh-mob__category, .tiki-fresh-mob__add-cart {
    display: none;
  }
}

/* Larger smartphones, smartphones in landscape mode - SM */
@media screen and (min-width: 481px) and (max-width: 768px) {

  /*----------- Product Content -----------*/
  .product__content {
    width: 100%;
  }

  /* Product Category */
  .category-mob {}

  .category-mob__heading h6 {
    font-weight: 600;
  }

  .category-mob__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .category-mob__item {
    width: calc(100% / 2 - 5px);
    background-color: rgba(36, 36, 36, 0.05);
    border-radius: 8px;
    margin: 5px 0;
  }

  .category-mob__thumbnail {
    display: flex;
    justify-content: space-around;
    margin: 7px 2px;
  }

  .category-mob__img > img {
    max-width: 50px;
    /*max-height: 50px;*/
  }

  .category-mob__name {
    padding-bottom: 3px;
    text-align: center;
    font-size: 13px;
    color: rgb(36, 36, 36);
  }

  .category-mob__view-more {
    margin: 7px 0;
    text-align: center;
  }

  .category-mob__view-more > a {
    font-size: 15px;
    color: rgb(13, 92, 182);
    font-weight: 500;
  }

  /* Product Filter - Mobile */
  .product__filter-mob {
    /* stick on scrolling up */

    padding-top: 5px;
  }

  .filter-mob {}

  .filter-mob__row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding-bottom: 5px;
    border-bottom: 2px solid #f7f7f7;
  }

  .filter-mob__location {
    align-items: center;
  }

  .filter-mob__location a {
    font-size: 14px;
    color: rgb(36, 36, 36);
    text-decoration: underline;
  }

  .filter-mob__location img {
    max-width: 25px;
  }

  .filter-mob__tiki-now {
    padding-left: 5px;
    border-left: 2px solid #f7f7f7;
  }

  .filter-mob__sort > span:first-child {
    font-size: 14px;
  }

  .filter-mob__sort > span:last-child {
    font-size: 14px;
    font-weight: 600;
  }

  .filter-mob__condition {
    padding-left: 5px;
    border-left: 2px solid #f7f7f7;
  }

  /* Product List - Mobile */
  .detail-product__tiki-fresh-mob {
    width: 100%; }

  .tiki-fresh-mob {
    display: flex;
    flex-wrap: wrap;
  }

  /*.tiki-fresh .card {*/
  /*    border: none; }*/

  .tiki-fresh-mob__item {
    width: 50%;
  }

  .tiki-fresh-mob__content {
    padding-left: 7%;
  }

  .tiki-fresh-mob__item a {
    font-size: 13px;
    color: #242424; }

  .tiki-fresh-mob__item a > img {
    max-width: 100%;
    /*height: 80%;*/
    padding: 25px 25px; }

  .tiki-fresh-mob__title img {
    max-width: 40%;
    /*height: 40px;*/
    display: block;
  }

  .tiki-fresh-mob__title span {
    font-size: 13px;
    color: #242424;
    letter-spacing: .1px;
    font-style: normal;
    font-stretch: normal;
    max-height: 43px;
    font-weight: 400; }

  .tiki-fresh-mob__price {
    font-size: 14px;
    font-weight: 600;
  }

  .tiki-fresh-mob__discount-rate {
    font-size: 13px;
    color: #787878; }

  .tiki-fresh-mob__single-price, .tiki-fresh-mob__fast-deliver,
  .tiki-fresh-mob__category, .tiki-fresh-mob__add-cart {
    display: none;
  }
}

/* Tablets in portrait mode, large display smartphones landscape mode- MD */
@media screen and (min-width: 769px) and (max-width: 1023px) {

}

/* Tablets in landscape mode, older desktop monitors - LG */
@media screen and (min-width: 1024px) and (max-width: 1365px) {

}

/* Monitors with screen width 1366px or above - XL */
/* ... */
