<main>
  <!-- Breadcrumb -->
  <div *ngIf="isDesktop">
    <app-breadcrumb></app-breadcrumb>
  </div>
  <div *ngIf="!isDesktop">
    <app-breadcrumb-mob></app-breadcrumb-mob>
  </div>

  <!-- Product -->
  <div class="container product">
    <!-- Sidebar -->
    <aside class="product__sidebar" *ngIf="isDesktop">
      <app-sidebar></app-sidebar>
    </aside>

    <!-- Product Content -->
    <div class="product__content">
      <!-- Product Heading -->
      <div class="product__heading" *ngIf="isDesktop">
        <h1>Thực Phẩm Tươi Sống:</h1>
        <h4 class="product__result"> 620 kết quả</h4>
      </div>

      <!-- Product Carousel -->
      <div class="product__carousel">
        <app-product-carousel></app-product-carousel>
      </div>

      <!-- Product Category Banner -->
      <div class="product__category-banner" *ngIf="isDesktop">
        <div class="container-fluid">
          <div class="row category-banner--row">
            <div class="col-sm-3">
              <a href="#">
                <img src="../../../../assets/images/trai-cay.png" alt="trai-cay">
              </a>
            </div>
            <div class="col-sm-3">
              <a href="#">
                <img src="../../../../assets/images/rau-cu.png" alt="rau-cu">
              </a>
            </div>
            <div class="col-sm-3">
              <a href="#">
                <img src="../../../../assets/images/thit.png" alt="thit">
              </a>
            </div>
            <div class="col-sm-3">
              <a href="#">
                <img src="../../../../assets/images/hai-san.png" alt="hai-san">
              </a>
            </div>
          </div>
          <div class="row category-banner--row">
            <div class="col-sm-3">
              <a href="#">
                <img src="../../../../assets/images/bo-trung.png" alt="bo-trung">
              </a>
            </div>
            <div class="col-sm-3">
              <a href="#">
                <img src="../../../../assets/images/che-bien-san.png" alt="che-bien-san">
              </a>
            </div>
            <div class="col-sm-3">
              <a href="#">
                <img src="../../../../assets/images/dong-lanh.png" alt="dong-lanh">
              </a>
            </div>
            <div class="col-sm-3">
              <a href="#">
                <img src="../../../../assets/images/kho.png" alt="kho">
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Product Category - Mobile -->
      <div *ngIf="!isDesktop">
        <app-category-menu-mob></app-category-menu-mob>
      </div>

      <!-- Product Details -->
      <div class="product__detail-product detail-product">
        <!-- Product Filter -->
        <div *ngIf="isDesktop">
          <app-product-filter></app-product-filter>
        </div>

        <!-- Product Filter - Mobile -->
        <div *ngIf="!isDesktop">
          <app-product-filter-mob></app-product-filter-mob>
        </div>

        <!-- Product List -->
        <div>
          <app-product-item></app-product-item>
        </div>
      </div>
    </div>
  </div>

  <!-- Product Pagination -->
  <div class="product__pagination" *ngIf="isDesktop">
    <app-pagination></app-pagination>
  </div>

  <!-- Related Product -->
</main>
