<div class="category-mob">
  <div class="category-mob__heading">
    <h6 class="category-mob__title">
      Mua sắm theo danh mục:
    </h6>
  </div>
  <div class="category-mob__list">
    <div class="category-mob__item" *ngFor="let category of categories">

      <a href="#">
        <div class="category-mob__thumbnail">
          <div class="category-mob__img">
            <img src="../../../../assets/images/ba-chi.jpg" alt="ba-chi">
          </div>
          <div class="category-mob__img">
            <img src="../../../../assets/images/suon-heo.jpg" alt="suon-heo">
          </div>
          <div class="category-mob__img">
            <img src="../../../../assets/images/bo-my.jpg" alt="bo-my">
          </div>
        </div>
        <div class="category-mob__name">{{ category.name }}</div>
      </a>
    </div>
  </div>
  <div class="category-mob__view-more">
    <a href="#">
      Xem Thêm 12 Danh Mục <i class="fa fa-chevron-down"></i>
    </a>
  </div>
</div>
