.category-mob {}

.category-mob__heading h6 {
  font-weight: 600;
}

.category-mob__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category-mob__item {
  width: calc(100% / 2 - 5px);
  background-color: rgba(36, 36, 36, 0.05);
  border-radius: 8px;
  margin: 5px 0;
}

.category-mob__thumbnail {
  display: flex;
  justify-content: space-around;
  margin: 7px 2px;
}

.category-mob__img > img {
  max-width: 50px;
  /*max-height: 50px;*/
}

.category-mob__name {
  padding-bottom: 3px;
  text-align: center;
  font-size: 13px;
  color: rgb(36, 36, 36);
}

.category-mob__view-more {
  margin: 7px 0;
  text-align: center;
}

.category-mob__view-more > a {
  font-size: 15px;
  color: rgb(13, 92, 182);
  font-weight: 500;
}
