/*----------- Product Filter -----------*/
.detail-product__filter {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
  padding-top: 10px; }

.filter__title {
  font-size: 14px;
  color: #4a4a4a; }

.filter__list {
  display: flex; }

.filter__item {
  padding: 9px 10px 11px;
  border-bottom: 2px solid #ffffff; }

.filter__item:hover {
  border-bottom: 2px solid #0092ff; }

.filter__item a {
  font-size: 14px;
  color: #898989;
  font-weight: 400; }

.filter__item a:hover {
  color: #0092ff; }

.filter-form__input {
  font-size: 11px;
  border: 1px solid #ced4da;
  width: 14.5rem; }

.filter-form__button:hover {
  opacity: .8; }

/* ------------- Product Tiki Now Info --------------*/
.detail-product__tiki-now {}

.tiki-now label {
  display: flex;
  align-items: center;
  padding-top: 5px; }

.tiki-now__content {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #4a4a4a; }

.tiki-now__logo {
  margin-left: 5px;
  margin-right: 5px; }

.tiki-now__link {
  color: #007ff0; }
