<div class="container">
  <div class="detail-product__filter filter">
    <span class="filter__title">Ưu tiên xem:</span>
    <ul class="filter__list">
      <li class="filter__item" *ngFor="let filter of filters">
        <a href="#">{{ filter.name }}</a>
      </li>
    </ul>
    <div class="filter__form filter-form">
      <form action class="filter-form__content">
        <div class="input-group md-form form-sm form-2">
          <input class="form-control amber-border filter-form__input" type="text" placeholder="Tìm trong Thực Phẩm Tươi Sống" aria-label="Search">
          <div class="input-group-append">
            <button type="button" class="input-group-text amber lighten-3 filter-form__button">
              <i class="fa fa-search text-grey" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Product Tiki Now Info -->
  <div class="detail-product__tiki-now tiki-now">
    <label>
      <input type="checkbox" class="tiki-now__checkbox">
      <a class="tiki-now__content" title="current option" href="#">
      <span class="tiki-now__logo">
          <i class="tikicon icon-tiki-now"></i>
      </span>
        <span class="tiki-now__title">
          Xem sản phẩm hỗ trợ TikiNOW giao nhanh -&nbsp;
      </span>
        <span> </span>
        <span class="tiki-now__link">
          Tìm hiểu
      </span>
      </a>
    </label>
  </div>
</div>
